.title{
  text-align: center;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #F0EEFB;
  margin: 10px;
}

.subtitle{
  text-align: center;
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #F0EEFB;
  margin: 10px;
}

.tab{
  display: block;
  height: 25px;
  width: 1fr;
  text-align: center;
  color: black;
  background: #C4C4C4;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
}

nav{
  width: 100%;
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
  height: 100%;
  width: 100%;
}

#content{
  display: grid;
  grid-template-rows: 20vw;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 8em;
  grid-gap: 20px;

}

#image-area{
  grid-row: 1;
  grid-column: 1;
  object-fit: contain;
  border: 5px solid #C4C4C4;
  border-radius: 5px;
}

#listing-area{
  grid-row: 1;
  grid-column: 2;
  background: #00202F;
  opacity: 0.8;
  border-radius: 5px;
  align-content: center;
}

#listing-title{
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #FFFDFD
}

img{
  height: 100%;
  width: 100%;
}

footer {
  background: #C4C4C4;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  text-align: center;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
}

body{
  height: 100%;
  background-image: url("background.jpg");
}
